/* Réglages de base et image de fond locale */
body {
    font-family: 'Jost', sans-serif; 
    background-color: #1a0f2e; /* Une couleur sombre au cas où l'image charge doucement */
    
    /* C'est ici qu'on va chercher ton image locale ! */
    background-image: url('./photo/fond_ecran.png'); 
    
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #ffebcc; 
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.6;
}